.content-headline
  .content-headline-hello #{headlines.profileTitle}
  .social
    a(href='https://github.com/eggijan', target='_blank', rel='noopener')
      i.fab.fa-github-square
    a(href='https://www.xing.com/profile/Jan_Mueller32', target='_blank', rel='noopener')
      i.fab.fa-xing-square
    a(href='https://www.linkedin.com/in/muellerjan', target='_blank', rel='noopener')
      i.fab.fa-linkedin
    a(href=`${headlines.alternateLangLink}` id="langSelect")
      img(src=`${headlines.alternateLangIcon}` alt="LangSelect")
  .content-headline-subtitle #{headlines.profileSubtitle}
  .separator