.content-headline
  .content-headline-hello #{locals.headlines.profileTitle}
  .social
    a(href='https://twitter.com/EggiJan', target='_blank')
      i.fa.fa-twitter-square
    a(href='https://bitbucket.org/mueljn', target='_blank')
      i.fa.fa-bitbucket-square
    a(href='https://github.com/eggijan', target='_blank')
      i.fa.fa-github-square
    a(href='https://www.xing.com/profile/Jan_Mueller32', target='_blank')
      i.fa.fa-xing-square
  .content-headline-subtitle #{locals.headlines.profileSubtitle}
  .separator
    
