footer
  a.nav-link(href="javascript:void(0)" data-section="section-imprint") #{locals.footer.imprint.linkLabel}
  a.nav-link(href="javascript:void(0)" data-section="section-privacy") #{locals.footer.privacy.linkLabel}
