footer
  a.nav-link#link-imprint(href="#imprint" data-section="section-imprint") #{locals.footer.imprint.linkLabel}
  a.nav-link#link-privacy(href="#privacy" data-section="section-privacy") #{locals.footer.privacy.linkLabel}
