footer
  a.nav-link#link-imprint(href="#imprint" data-section="section-imprint", data-track-content, data-content-name="imprint") #{locals.footer.imprint.linkLabel}
  a.nav-link#link-privacy(href="#privacy" data-section="section-privacy", data-track-content, data-content-name="privacy") #{locals.footer.privacy.linkLabel}
