doctype html
html
  include head.jade
  body
    .main.height-100
      .container.inner-page.height-100
        .row.height-100
          include page-left.jade
          include page-right.jade
  include scripts.jade
