doctype html
html(lang=`${locals.lang}`)
  include head.jade
  body
    .main.height-100
      .container.inner-page.height-100
        .row.min-height-100
          include page-left.jade
          include page-right.jade
  include analytics.jade
  include scripts.jade
