.no-padding.page-left
  .shadow
    .profile-bg
      .profile-pic-rounded
    nav
      .nav-item
        a.nav-link.active#link-me(href='#me', data-section='section-me', data-track-content, data-content-name="me")
          span.hidden-mobile.nav-text #{locals.headlines.profile}
          span.fas.fa-user
      .nav-item
        a.nav-link#link-resume(href='#resume', data-section='section-resume', data-track-content, data-content-name="resume")
          span.hidden-mobile.nav-text #{locals.headlines.cv}
          span.fas.fa-book
      .nav-item
        a.nav-link#link-projects(href='#projects', data-section='section-projects', data-track-content, data-content-name="projects")
          span.hidden-mobile.nav-text #{locals.headlines.projects}
          span.fas.fa-code
