.no-padding.page-left
  .shadow
    .profile-bg
      .profile-pic-rounded
    nav
      .nav-item
        a.nav-link.active#link-me(href='#me', data-section='section-me')
          span.hidden-mobile.nav-text #{locals.headlines.profile}
          span.fa.fa-user
      .nav-item
        a.nav-link#link-resume(href='#resume', data-section='section-resume')
          span.hidden-mobile.nav-text #{locals.headlines.cv}
          span.fa.fa-book
      .nav-item
        a.nav-link#link-projects(href='#projects', data-section='section-projects')
          span.hidden-mobile.nav-text #{locals.headlines.projects}
          span.fa.fa-code
