//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
//- script(src='/js/$${jsFilename}')
if locals.analytics
    script.
        window.cookieconsent_options = {
            message: '#{locals.cookieMessage}',
            theme: 'light-bottom',
            dismiss: 'OK',
            link: '#privacy'
        };
    script(src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js")
